video {
  height: 450px;
}

.speed-info {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.speed-info span {
  margin: 0.5 rem;
  font-size: 1.3rem;
  background-color: #BAD7DF;
  border-radius: 5px;
}

.speed-info button {
  padding: 1rem;
  background-color: #BAD7DF;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 3px 3px 8px #ccc;
  transition: all 0.3s ease-in-out;
}

.speed-info button:hover {
  cursor: pointer;
  background-color: #99DDCC;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  video {
    height: 300px;
  }
}
