<div class="list-container">
  <p class="speed-info">
    To change speed: click on video and press key arrow up
    <mat-icon>arrow_drop_up</mat-icon>
    or arrow down
    <mat-icon>arrow_drop_down</mat-icon>
  </p>
  <div class="title">
    <h3>You watch lesson: {{ currentLesson }}</h3>
  </div>
  <mat-list *ngFor="let lesson of lessonsList; let i = index">
    <mat-divider></mat-divider>
    <div class="list-card">
      <img
        [src]="lesson.previewImageLink + '/lesson-' + lesson.order + '.webp'"
      />
      <p>
        {{ i + 1 }}. {{ lesson.title }} ({{
          countMinutes(lesson.duration)
        }}
        min.)
      </p>
      <button
        [class]="lesson.status === 'unlocked' ? 'unlocked' : 'locked'"
        [disabled]="lesson.status === 'locked'"
        (click)="playVideoHandler(lesson.id, lesson.link, i)"
      >
        {{ lesson.status === "unlocked" ? "Play" : "Disabled" }}
      </button>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</div>
