.card {
  max-width: 410px;
  height: 500px;
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  cursor: pointer;
  background-color: #bad7df56;
  max-width: 420px;
  height: 510px;
  transition: all 0.3s ease-in-out;
}

.card p {
  padding: 0.5rem;
}

.starts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.starts p {
  margin-bottom: 0;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.skills {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 16px;
}

.skills p {
  margin-bottom: 0;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0 1rem;
}

.content-container img {
  width: 100%;
}

.content-container video {
  width: 100%;
}

.hide-element {
  display: none;
}

.mdc-linear-progress__bar-inner {
  border-color: #F6F6F6;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #4d9aaf;
}

.mat-mdc-card-content {
  padding: 0;
}

@media (max-width: 768px) {
  .card {
    max-width: 300px;
    margin: 0.5rem;
  }
}
